name: ovh-dyndns-dev
services:
  ovh-dyndns-dev:
    container_name: ovh_dyndns_dev
    image: ovh_dyndns:dev
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: tail -f /dev/null
    environment:
      PYTHONPATH: /app
      GEVENT_SUPPORT: True
      PYTHONDONTWRITEBYTECODE: 1
      LOGGER_LEVEL: DEBUG
      API_PORT: 8000
      DATABASE_PATH: /app/data/dyndns.db
      JWT_SECRET: dev-secret-key-change-in-prod
    volumes:
      - ../src/:/app
      - ./data:/app/data
    ports:
      - "8000:8000"
      - "5678:5678"
