[system_settings]
check_interval = 10

[ovh_config]
HOST = https://www.ovh.com
PATH = /nic/update
SYS_PARAM = dyndns

[hostconfig1]
hostname = example.es
username = example-username
password = example-password

[hostconfig2]
hostname = example2.es
username = example-username2
password = example-password2